all:
  vars:
    # SSH options
    ansible_user: "user1"                              # User which is used when accessing the remote machines via SSH.
                                                       # If commented out or leave an empty value, then the playbook will use the current user on behalf of which the playbook is running. This is the default ansible behavior.
    ansible_private_key_file: "~/.ssh/id_ed25519"      # SSH key file that contains the key that is used when accessing the remote machines via SSH.
                                                       # If you comment out or leave an empty value, then the playbook will try to find other keys, if they are not there, it will create a new key for the specified user `ansible_user`, if the user is not specified, then for the current one.
    # ansible_port: 1234                                 # SSH port for all hosts.

    # Main options
    ## I. Prepare OS
    os_prepare: true              # Prepare OS?
    #### I. Prepare OS - on/off tasks
    pre_tasks1: false             # Execute PRE tasks? (many specific tasks (for a particular OS)).
    post_tasks1: false            # Execute POST tasks? (many specific tasks (for a particular OS)).
    config_grub: true             # To fix the inability to create a container. See [k8s | memory.swap.max or memory.memsw.limit_in_bytes: no such file or directory error message](https://cspenpen.blogspot.com/2022/01/k8s-memoryswapmax-or.html)
    config_os_network: true       # Сopy hosts & resolv.conf?
    config_pm: true               # Сonfigure package manager (for example sources.list)?
    setup_proxy: false            # Configure OS proxy? (/etc/environment, /etc/profile.d/http_proxy.sh).
    remove_firewall: false        # Set to true to uninstall firewall package at all.
    firewall: false               # Install and configure firewall?
    config_ac: true               # Configure Access Control system? (SELinux\AppArmor\parsec).
    reboot: true                  # Reboot servers?
    upgrade_os: true              # Should you upgrade the OS?
    install_pack: true            # Install of various programs? (the list of programs 'basic_packages' is in files in the folder vars/).
    configure_timezone_ntp: true  # Configure timezone and install NTP client?
    #### I. Prepare OS - values
    # Proxy settings
    proxy_server: ""             # Proxy server ip address.
    proxy_port: ""                          # Proxy server port.
                                                # Adresses to exclude from proxy.
    no_proxy: "127.0.0.1,localhost,.svc,.local,server1,serverX"
    #
    selinux_state: permissive                   # SELinux state to be set on k8s nodes. Сan take one of these three values:
                                                #   enforcing - SELinux security policy is enforced.
                                                #   permissive - SELinux prints warnings instead of enforcing.
                                                #   disabled - No SELinux policy is loaded
    timezone: "Europe/Moscow"                   # Timezone to set on all nodes.
    ntp_servers: "192.168.101.2 192.168.101.3"  # list NTP server for configure NTP client (space delimiter).
    ###### Network configuration files
    ######## /etc/hosts
    hosts_file: |
      127.0.0.1       localhost

      # The following lines are desirable for IPv6 capable hosts
      ::1     localhost ip6-localhost ip6-loopback
      ff02::1 ip6-allnodes
      ff02::2 ip6-allrouters
    ######## /etc/resolv.conf
    resolv_conf_file: |
      nameserver 192.168.101.12
      domain mydomain.local

    ## II. Kubernetes setup
    kubernetes_setup: true        # Do you want to install the Kubernetes?
    #### II. Kubernetes setup - on/off tasks
    pre_tasks2: false             # Execute PRE tasks? (many specific tasks (for a particular OS)).
    post_tasks2: false            # Execute POST tasks? (many specific tasks (for a particular OS)).
    etc_hosts: false              # Add to /etc/hosts all servers? (if you have DNS, then this is not necessary).
    only_prepare_os_for_k8s: false # Only prepare OS for Kubernetes (tags: pre_tasks2, firewall, dis_swap, kernel_mod, etc_hosts).    
    install_from_astra_repo: true         # Install from Astra repo (not vanila K8S repo)?
    #### II. Kubernetes setup - values
    # Kubernetes settings
    # NOTES for Astra Linux:
    # 1) In Astra Linux 1.7.4 it is possible to install Kubernetes version no higher than 1.23.4 from the VANILLA repository, because the Astra Linux repository has cri-tools version=1.21.0~2, and kubernetes binaries require cri-tools version >= 1.23.0.
    # 2) In the Astra Linux 1.7.4 repository, the maximum Kubernetes version is 1.23.17.
    # 3) In Astra Linux 1.7.5, Docker 24.0 version from Astra Linux repository is not stable, so it is recommended to install Docker 20.10.2+dfsg1-2astra.se10+ci22 version.
    k8s_packages_version: ""              # (example: "1.23.17-00") Kubernetes packages version. Leave the value empty for 'latest'.
    k8s_version: ""                       # (example: "1.23") Kubernetes version for CRI-O repo.
    k8s_cni: calico                       # calico, flannel.
    container_runtime: docker             # docker, cri-o, containerd.
    container_runtime_version: ""         # (example: "20.10.2+dfsg1-2astra.se10+ci22") Container runtime version.
    pod_network_cidr: "10.244.0.0/16"     # Pod subnet if using cri-o runtime (10.244.0.0/16;192.168.0.0/16).
    k8s_admins: ['root']                  # Kubernetes administrators on masters. There must be at least one administrator (example, root), otherwise it will not be possible to initialize CNI plugin.
    insecure_docker_registries: '"k8s.gcr.io","docker.io","quay.io","registry.access.redhat.com"'  # List docker registries in 'insecure-registries' in /etc/docker/daemon.json.

    ## III. HA setup
    ha_setup: true                # Do you want to setup HA (keepalive + haproxy)?
    #### III. HA setup - on/off tasks
    pre_tasks3: false             # Execute PRE tasks? (many specific tasks (for a particular OS)).
    post_tasks3: false            # Execute POST tasks? (many specific tasks (for a particular OS)).
    #### III. HA setup - values
    vip: 172.26.12.60                     # Virtual IP (VIP)
    vip_port: 8443                        # VIP for k8s HA

# List hosts
  children:
    kube_masters:      # Kubernetes masters
      hosts:
        pp-mk8s-01:
        pp-mk8s-02:
        pp-mk8s-03:
    kube_not_masters:  # Kubernetes nodes (all except the masters)
      hosts:
        pp-bal-01:
        pp-cach-01:
        pp-kafka-01:
        pp-kafka-02:
        pp-kafka-03:
        pp-sk8s-01:
        pp-sk8s-02:
        pp-sk8s-03:
        pp-sk8s-04:
        pp-sk8s-05:
        pp-ceph-osd-01:
        pp-ceph-osd-02:
        pp-ceph-osd-03:
        pp-ceph-s-01:
        pp-ceph-s-02:
        pp-ceph-s-03:
        pp-ceph-s-04:
    auxiliary:
      hosts:          # Additional servers
        pp-dns-01:
        pp-ntp-01:
